[submodule "thirdparties/rayneo-sdk"]
	path = thirdparties/rayneo-sdk
	url = https://github.com/verncat/RayNeo-Air-3S-Pro-OpenVR.git
[submodule "thirdparties/openvr"]
	path = thirdparties/openvr
	url = https://github.com/ValveSoftware/openvr.git
